<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Address">
    <id column="addressNumber" jdbcType="VARCHAR" property="addressnumber" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="zip" jdbcType="INTEGER" property="zip" />
    <result column="moren" jdbcType="INTEGER" property="moren" />
    <result column="consumerNamer" jdbcType="VARCHAR" property="consumernamer" />
    <result column="consumerPhoto" jdbcType="VARCHAR" property="consumerphoto" />
    <result column="redundant" jdbcType="VARCHAR" property="redundant" />
    <result column="redundant1" jdbcType="VARCHAR" property="redundant1" />
  </resultMap>
  <sql id="Base_Column_List">
    addressNumber, userId, city, area, street, zip, moren, consumerNamer, consumerPhoto, 
    redundant, redundant1
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `address`
    where addressNumber = #{addressnumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from  `address`
    where addressNumber = #{addressnumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Address">
    insert into `address` (addressNumber, userId, city,
      area, street, zip, 
      moren, consumerNamer, consumerPhoto, 
      redundant, redundant1)
    values (#{addressnumber,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, #{zip,jdbcType=INTEGER}, 
      #{moren,jdbcType=INTEGER}, #{consumernamer,jdbcType=VARCHAR}, #{consumerphoto,jdbcType=VARCHAR}, 
      #{redundant,jdbcType=VARCHAR}, #{redundant1,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Address">
    insert into `address`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressnumber != null">
        addressNumber,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="street != null">
        street,
      </if>
      <if test="zip != null">
        zip,
      </if>
      <if test="moren != null">
        moren,
      </if>
      <if test="consumernamer != null">
        consumerNamer,
      </if>
      <if test="consumerphoto != null">
        consumerPhoto,
      </if>
      <if test="redundant != null">
        redundant,
      </if>
      <if test="redundant1 != null">
        redundant1,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressnumber != null">
        #{addressnumber,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        #{zip,jdbcType=INTEGER},
      </if>
      <if test="moren != null">
        #{moren,jdbcType=INTEGER},
      </if>
      <if test="consumernamer != null">
        #{consumernamer,jdbcType=VARCHAR},
      </if>
      <if test="consumerphoto != null">
        #{consumerphoto,jdbcType=VARCHAR},
      </if>
      <if test="redundant != null">
        #{redundant,jdbcType=VARCHAR},
      </if>
      <if test="redundant1 != null">
        #{redundant1,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Address">
    update `address`
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="zip != null">
        zip = #{zip,jdbcType=INTEGER},
      </if>
      <if test="moren != null">
        moren = #{moren,jdbcType=INTEGER},
      </if>
      <if test="consumernamer != null">
        consumerNamer = #{consumernamer,jdbcType=VARCHAR},
      </if>
      <if test="consumerphoto != null">
        consumerPhoto = #{consumerphoto,jdbcType=VARCHAR},
      </if>
      <if test="redundant != null">
        redundant = #{redundant,jdbcType=VARCHAR},
      </if>
      <if test="redundant1 != null">
        redundant1 = #{redundant1,jdbcType=VARCHAR},
      </if>
    </set>
    where addressNumber = #{addressnumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Address">
    update `address`
    set userId = #{userid,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      zip = #{zip,jdbcType=INTEGER},
      moren = #{moren,jdbcType=INTEGER},
      consumerNamer = #{consumernamer,jdbcType=VARCHAR},
      consumerPhoto = #{consumerphoto,jdbcType=VARCHAR},
      redundant = #{redundant,jdbcType=VARCHAR},
      redundant1 = #{redundant1,jdbcType=VARCHAR}
    where addressNumber = #{addressnumber,jdbcType=VARCHAR}
  </update>
  <select id="getAddress" resultType="com.example.demo.pojo.Address">
    select addressNumber,city,area,street,userId,zip from `address` where userId=#{user} and moren=#{moren}
  </select>

  <select id="getaddlist" resultType="com.example.demo.pojo.Address" parameterType="int">
    select addressNumber,city,area,street,userId,zip from `address` where userId=#{userid}
  </select>


</mapper>