<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.LookMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Look">
    <result column="orderNumber" jdbcType="VARCHAR" property="ordernumber" />
    <result column="shopNumber" jdbcType="INTEGER" property="shopnumber" />
    <result column="shopName" jdbcType="VARCHAR" property="shopname" />
    <result column="shopDoller" jdbcType="DOUBLE" property="shopdoller" />
    <result column="shopInformation" jdbcType="VARCHAR" property="shopinformation" />
    <result column="discountDoller" jdbcType="DOUBLE" property="discountdoller" />
    <result column="discount" jdbcType="INTEGER" property="discount" />
    <result column="buyNumber" jdbcType="INTEGER" property="buynumber" />
    <result column="shopNote" jdbcType="VARCHAR" property="shopnote" />
    <result column="redundant" jdbcType="VARCHAR" property="redundant" />
    <result column="redundant1" jdbcType="VARCHAR" property="redundant1" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="shopid" jdbcType="INTEGER" property="shopid" />
    <result column="orderstate" jdbcType="INTEGER" property="orderState" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.pojo.Look">
    insert into `look` (orderNumber, shopNumber, shopName,
      shopDoller, shopInformation, discountDoller, 
      discount, buyNumber, shopNote, userid,shopid
      redundant, redundant1)
    values (#{ordernumber,jdbcType=VARCHAR}, #{shopnumber,jdbcType=INTEGER}, #{shopname,jdbcType=VARCHAR}, 
      #{shopdoller,jdbcType=DOUBLE}, #{shopinformation,jdbcType=VARCHAR}, #{discountdoller,jdbcType=DOUBLE}, 
      #{discount,jdbcType=INTEGER}, #{buynumber,jdbcType=INTEGER}, #{shopnote,jdbcType=VARCHAR}, 
      #{redundant,jdbcType=VARCHAR}, #{redundant1,jdbcType=VARCHAR},#{userid,jdbcType=INTEGER},#{shopid,jdbcType=INTEGER})
  </insert>
  <select id="getlook" resultMap="BaseResultMap">
    select * from `look` where userid=#{userid} and orderstate=#{state}
  </select>
</mapper>