<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Order">
    <id column="orderNumber" jdbcType="VARCHAR" property="ordernumber" />
    <result column="timeDoller" jdbcType="DOUBLE" property="timedoller" />
    <result column="payType" jdbcType="VARCHAR" property="paytype" />
    <result column="ordCreateTime" jdbcType="TIMESTAMP" property="ordcreatetime" />
    <result column="ordUpdateTime" jdbcType="TIMESTAMP" property="ordupdatetime" />
    <result column="payTime" jdbcType="TIMESTAMP" property="paytime" />
    <result column="payCompleteTime" jdbcType="TIMESTAMP" property="paycompletetime" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="orderState" jdbcType="INTEGER" property="orderstate" />
    <result column="shopId" jdbcType="INTEGER" property="shopid" />
    <result column="shopNumber" jdbcType="INTEGER" property="shopnumber" />
    <result column="shopTotalDoller" jdbcType="DOUBLE" property="shoptotaldoller" />
    <result column="paysuccend" jdbcType="VARCHAR" property="paysuccend" />
    <result column="shopDoller" jdbcType="DOUBLE" property="shopdoller" />
    <result column="redundant" jdbcType="VARCHAR" property="redundant" />
    <result column="redundant1" jdbcType="VARCHAR" property="redundant1" />
    <result column="delectzt" jdbcType="INTEGER" property="delectzt" />
    <result column="duo" jdbcType="VARCHAR" property="duo" />
    <result column="duo1" jdbcType="VARCHAR" property="duo1" />
  </resultMap>
  <sql id="Base_Column_List">
    orderNumber, timeDoller, payType, ordCreateTime, ordUpdateTime, payTime, payCompleteTime, 
    userId, orderState, shopId, shopNumber, shopTotalDoller, paysuccend, shopDoller, 
    redundant, redundant1,delectzt,duo,duo1
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where orderNumber = #{ordernumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `order`
    where orderNumber = #{ordernumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Order">
    insert into `order` (orderNumber, timeDoller, payType,
      ordCreateTime, ordUpdateTime, payTime, 
      payCompleteTime, userId, orderState, 
      shopId, shopNumber, shopTotalDoller, 
      paysuccend, shopDoller, redundant,duo,duo1
      redundant1)
    values (#{ordernumber,jdbcType=VARCHAR}, #{timedoller,jdbcType=DOUBLE}, #{paytype,jdbcType=VARCHAR}, 
      #{ordcreatetime,jdbcType=TIMESTAMP}, #{ordupdatetime,jdbcType=TIMESTAMP}, #{paytime,jdbcType=TIMESTAMP}, 
      #{paycompletetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=INTEGER}, #{orderstate,jdbcType=INTEGER}, 
      #{shopid,jdbcType=INTEGER}, #{shopnumber,jdbcType=INTEGER}, #{shoptotaldoller,jdbcType=DOUBLE}, 
      #{paysuccend,jdbcType=VARCHAR}, #{shopdoller,jdbcType=DOUBLE}, #{redundant,jdbcType=VARCHAR}, 
      #{redundant1,jdbcType=VARCHAR}),#{duo,jdbcType=VARCHAR},#{duo1,jdbcType=VARCHAR}
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Order">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ordernumber != null">
        orderNumber,
      </if>
      <if test="timedoller != null">
        timeDoller,
      </if>
      <if test="paytype != null">
        payType,
      </if>
      <if test="ordcreatetime != null">
        ordCreateTime,
      </if>
      <if test="ordupdatetime != null">
        ordUpdateTime,
      </if>
      <if test="paytime != null">
        payTime,
      </if>
      <if test="paycompletetime != null">
        payCompleteTime,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="orderstate != null">
        orderState,
      </if>
      <if test="shopid != null">
        shopId,
      </if>
      <if test="shopnumber != null">
        shopNumber,
      </if>
      <if test="shoptotaldoller != null">
        shopTotalDoller,
      </if>
      <if test="paysuccend != null">
        paysuccend,
      </if>
      <if test="shopdoller != null">
        shopDoller,
      </if>
      <if test="redundant != null">
        redundant,
      </if>
      <if test="redundant1 != null">
        redundant1,
      </if>
      <if test="delectzt != null">
        delectzt
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ordernumber != null">
        #{ordernumber,jdbcType=VARCHAR},
      </if>
      <if test="timedoller != null">
        #{timedoller,jdbcType=DOUBLE},
      </if>
      <if test="paytype != null">
        #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="ordcreatetime != null">
        #{ordcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordupdatetime != null">
        #{ordupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null">
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paycompletetime != null">
        #{paycompletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderstate != null">
        #{orderstate,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopnumber != null">
        #{shopnumber,jdbcType=INTEGER},
      </if>
      <if test="shoptotaldoller != null">
        #{shoptotaldoller,jdbcType=DOUBLE},
      </if>
      <if test="paysuccend != null">
        #{paysuccend,jdbcType=VARCHAR},
      </if>
      <if test="shopdoller != null">
        #{shopdoller,jdbcType=DOUBLE},
      </if>
      <if test="redundant != null">
        #{redundant,jdbcType=VARCHAR},
      </if>
      <if test="redundant1 != null">
        #{redundant1,jdbcType=VARCHAR},
      </if>
      <if test="delectzt != null">
        #{delectzt,jdbcType=INTEGER}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Order">
    update `order`
    <set>
      <if test="timedoller != null">
        timeDoller = #{timedoller,jdbcType=DOUBLE},
      </if>
      <if test="paytype != null">
        payType = #{paytype,jdbcType=VARCHAR},
      </if>
      <if test="ordcreatetime != null">
        ordCreateTime = #{ordcreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="ordupdatetime != null">
        ordUpdateTime = #{ordupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytime != null">
        payTime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paycompletetime != null">
        payCompleteTime = #{paycompletetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="orderstate != null">
        orderState = #{orderstate,jdbcType=INTEGER},
      </if>
      <if test="shopid != null">
        shopId = #{shopid,jdbcType=INTEGER},
      </if>
      <if test="shopnumber != null">
        shopNumber = #{shopnumber,jdbcType=INTEGER},
      </if>
      <if test="shoptotaldoller != null">
        shopTotalDoller = #{shoptotaldoller,jdbcType=DOUBLE},
      </if>
      <if test="paysuccend != null">
        paysuccend = #{paysuccend,jdbcType=VARCHAR},
      </if>
      <if test="shopdoller != null">
        shopDoller = #{shopdoller,jdbcType=DOUBLE},
      </if>
      <if test="redundant != null">
        redundant = #{redundant,jdbcType=VARCHAR},
      </if>
      <if test="redundant1 != null">
        redundant1 = #{redundant1,jdbcType=VARCHAR},
      </if>
      <if test="delectzt != null">
          delectzt = #{delectzt,jdbcType=INTEGER}
      </if>
    </set>
    where orderNumber = #{ordernumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Order">
    update `order`
    set timeDoller = #{timedoller,jdbcType=DOUBLE},
      payType = #{paytype,jdbcType=VARCHAR},
      ordCreateTime = #{ordcreatetime,jdbcType=TIMESTAMP},
      ordUpdateTime = #{ordupdatetime,jdbcType=TIMESTAMP},
      payTime = #{paytime,jdbcType=TIMESTAMP},
      payCompleteTime = #{paycompletetime,jdbcType=TIMESTAMP},
      userId = #{userid,jdbcType=INTEGER},
      orderState = #{orderstate,jdbcType=INTEGER},
      shopId = #{shopid,jdbcType=INTEGER},
      shopNumber = #{shopnumber,jdbcType=INTEGER},
      shopTotalDoller = #{shoptotaldoller,jdbcType=DOUBLE},
      paysuccend = #{paysuccend,jdbcType=VARCHAR},
      shopDoller = #{shopdoller,jdbcType=DOUBLE},
      redundant = #{redundant,jdbcType=VARCHAR},
      redundant1 = #{redundant1,jdbcType=VARCHAR}
    where orderNumber = #{ordernumber,jdbcType=VARCHAR}
  </update>
  <select id="getall" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `order`
    where userId=#{userid,jdbcType=INTEGER} and delectzt=#{zt,jdbcType=INTEGER}
  </select>
    <select id="getstate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `order`
        where userId=#{userid,jdbcType=INTEGER} and delectzt=#{delect,jdbcType=INTEGER} and orderState=#{zt,jdbcType=INTEGER}
    </select>
  <select id="getallorder" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List" />
    from `order`
    where delectzt=#{zt,jdbcType=INTEGER}
  </select>
</mapper>