<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetall.commodity.commoditymanage.dao.CommodityAttributeValueDao">
    <select id="getAttributeValueNumber" resultType="int">
        select attribute_value_number from commodityAttrbuteValue where attribute_value = #{Attributevalue}
    </select>

    <select id="getAttributeValue" resultType="String" >
        select attribute_value from commodityAttrbuteValue where attribute_value_number = #{attributeValueNumber}
    </select>
</mapper>
