<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.dao.MeetalluserptMapper" >
  <resultMap id="BaseResultMap" type="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.Meetalluserpt" >
    <id column="pt_id" property="ptId" jdbcType="INTEGER" />
    <result column="pt_user_id" property="ptUserId" jdbcType="INTEGER" />
    <result column="pt_order_number" property="ptOrderNumber" jdbcType="VARCHAR" />
    <result column="consignee" property="consignee" jdbcType="VARCHAR" />
    <result column="contact_number" property="contactNumber" jdbcType="VARCHAR" />
    <result column="shipping_address" property="shippingAddress" jdbcType="VARCHAR" />
    <result column="group_time" property="groupTime" jdbcType="TIMESTAMP" />
    <result column="ifgroup_leader" property="ifgroupLeader" jdbcType="VARCHAR" />
    <result column="group_time_end" property="groupTimeEnd" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from MeetAllUserPt
    where pt_id = #{ptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.Meetalluserpt" >
    insert into MeetAllUserPt (pt_id, pt_user_id, pt_order_number, 
      consignee,
      contact_number, shipping_address, group_time, 
      ifgroup_leader,pt_number)
    values (#{ptId}, #{ptUserId}, #{ptOrderNumber},
      #{consignee},
      #{contactNumber}, #{shippingAddress}, #{groupTime},
      #{ifgroupLeader},#{ptNumber})
  </insert>
  <insert id="insertSelective" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.Meetalluserpt" >
    insert into MeetAllUserPt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        pt_id,
      </if>
      <if test="ptUserId != null" >
        pt_user_id,
      </if>
      <if test="ptOrderNumber != null" >
        pt_order_number,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="contactNumber != null" >
        contact_number,
      </if>
      <if test="shippingAddress != null" >
        shipping_address,
      </if>
      <if test="groupTime != null" >
        group_time,
      </if>
      <if test="ifgroupLeader != null" >
        ifgroup_leader,
      </if>
      <if test="groupTimeEnd != null" >
        group_time_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        #{ptId,jdbcType=INTEGER},
      </if>
      <if test="ptUserId != null" >
        #{ptUserId,jdbcType=INTEGER},
      </if>
      <if test="ptOrderNumber != null" >
        #{ptOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null" >
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null" >
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="groupTime != null" >
        #{groupTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifgroupLeader != null" >
        #{ifgroupLeader,jdbcType=VARCHAR},
      </if>
      <if test="groupTimeEnd != null" >
        #{groupTimeEnd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <insert id="insertUserpt" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.Meetalluserpt">
      insert into MeetAllUserPt
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        pt_id,
      </if>
      <if test="ptUserId != null" >
        pt_user_id,
      </if>
      <if test="ptOrderNumber != null" >
        pt_order_number,
      </if>
      <if test="consignee != null" >
        consignee,
      </if>
      <if test="contactNumber != null" >
        contact_number,
      </if>
      <if test="shippingAddress != null" >
        shipping_address,
      </if>
      <if test="groupTime != null" >
        group_time,
      </if>
      <if test="ifgroupLeader != null" >
        ifgroup_leader,
      </if>
      <if test="groupTimeEnd != null" >
        group_time_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ptId != null" >
        #{ptId,jdbcType=INTEGER},
      </if>
      <if test="ptUserId != null" >
        #{ptUserId,jdbcType=INTEGER},
      </if>
      <if test="ptOrderNumber != null" >
        #{ptOrderNumber,jdbcType=VARCHAR},
      </if>
      <if test="consignee != null" >
        #{consignee,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null" >
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="shippingAddress != null" >
        #{shippingAddress,jdbcType=VARCHAR},
      </if>
      <if test="groupTime != null" >
        #{groupTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ifgroupLeader != null" >
        #{ifgroupLeader,jdbcType=VARCHAR},
      </if>
      <if test="groupTimeEnd != null" >
        #{groupTimeEnd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="getAllPtNumber" parameterType="int" resultType="int">
    select pt_number from MeetAllUserPt WHERE pt_user_id = #{userId}
  </select>
</mapper>