<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.dao.MeetallptStateMapper">
  <!--修改拼团状态为拼团成功-->
  <update id="updatePtState" parameterType="int">
    update MeetAllPtState
    set pt_state = 1,
    pt_number_of_people = 2
    where pt_number = #{ptNumber}
  </update>

  <!--查询拼团状态-->
  <select id="selectPtState" parameterType="int" resultType="int">
    select pt_state from MeetAllPtState where pt_number = #{ptNumber}
  </select>

  <update id="updateAbolish" parameterType="int">
    update MeetAllPtState
    set pt_state = 2,
    where pt_number = #{ptNumber}
  </update>
</mapper>