<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.dao.MeetallptStateMapper">
  <resultMap id="BaseResultMap" type="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    <id column="pt_number" jdbcType="INTEGER" property="ptNumber" />
    <result column="pt_goods_number" jdbcType="INTEGER" property="ptGoodsNumber" />
    <result column="pt_state" jdbcType="INTEGER" property="ptState" />
    <result column="pt_number_of_people" jdbcType="INTEGER" property="ptNumberOfPeople" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pt_number, pt_goods_number, pt_state, pt_number_of_people
  </sql>
  <select id="selectByExample" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MeetAllPt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MeetAllPt
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MeetAllPt
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptExample">
    delete from MeetAllPt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    insert into MeetAllPt (pt_number, pt_goods_number, pt_state, 
      pt_number_of_people)
    values (#{ptNumber,jdbcType=INTEGER}, #{ptGoodsNumber,jdbcType=INTEGER}, #{ptState,jdbcType=INTEGER}, 
      #{ptNumberOfPeople,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    insert into MeetAllPt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ptNumber != null">
        pt_number,
      </if>
      <if test="ptGoodsNumber != null">
        pt_goods_number,
      </if>
      <if test="ptState != null">
        pt_state,
      </if>
      <if test="ptNumberOfPeople != null">
        pt_number_of_people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ptNumber != null">
        #{ptNumber,jdbcType=INTEGER},
      </if>
      <if test="ptGoodsNumber != null">
        #{ptGoodsNumber,jdbcType=INTEGER},
      </if>
      <if test="ptState != null">
        #{ptState,jdbcType=INTEGER},
      </if>
      <if test="ptNumberOfPeople != null">
        #{ptNumberOfPeople,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptExample" resultType="java.lang.Integer">
    select count(*) from MeetAllPt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MeetAllPt
    <set>
      <if test="record.ptNumber != null">
        pt_number = #{record.ptNumber,jdbcType=INTEGER},
      </if>
      <if test="record.ptGoodsNumber != null">
        pt_goods_number = #{record.ptGoodsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.ptState != null">
        pt_state = #{record.ptState,jdbcType=INTEGER},
      </if>
      <if test="record.ptNumberOfPeople != null">
        pt_number_of_people = #{record.ptNumberOfPeople,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MeetAllPt
    set pt_number = #{record.ptNumber,jdbcType=INTEGER},
      pt_goods_number = #{record.ptGoodsNumber,jdbcType=INTEGER},
      pt_state = #{record.ptState,jdbcType=INTEGER},
      pt_number_of_people = #{record.ptNumberOfPeople,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    update MeetAllPt
    <set>
      <if test="ptGoodsNumber != null">
        pt_goods_number = #{ptGoodsNumber,jdbcType=INTEGER},
      </if>
      <if test="ptState != null">
        pt_state = #{ptState,jdbcType=INTEGER},
      </if>
      <if test="ptNumberOfPeople != null">
        pt_number_of_people = #{ptNumberOfPeople,jdbcType=INTEGER},
      </if>
    </set>
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    update MeetAllPt
    set pt_goods_number = #{ptGoodsNumber,jdbcType=INTEGER},
      pt_state = #{ptState,jdbcType=INTEGER},
      pt_number_of_people = #{ptNumberOfPeople,jdbcType=INTEGER}
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    <id column="pt_number" jdbcType="INTEGER" property="ptNumber" />
    <result column="pt_goods_number" jdbcType="INTEGER" property="ptGoodsNumber" />
    <result column="pt_state" jdbcType="INTEGER" property="ptState" />
    <result column="pt_number_of_people" jdbcType="INTEGER" property="ptNumberOfPeople" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pt_number, pt_goods_number, pt_state, pt_number_of_people
  </sql>
  <select id="selectByExample" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MeetAllPt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MeetAllPt
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from MeetAllPt
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptExample">
    delete from MeetAllPt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    insert into MeetAllPt (pt_number, pt_goods_number, pt_state, 
      pt_number_of_people)
    values (#{ptNumber,jdbcType=INTEGER}, #{ptGoodsNumber,jdbcType=INTEGER}, #{ptState,jdbcType=INTEGER}, 
      #{ptNumberOfPeople,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    insert into MeetAllPt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ptNumber != null">
        pt_number,
      </if>
      <if test="ptGoodsNumber != null">
        pt_goods_number,
      </if>
      <if test="ptState != null">
        pt_state,
      </if>
      <if test="ptNumberOfPeople != null">
        pt_number_of_people,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ptNumber != null">
        #{ptNumber,jdbcType=INTEGER},
      </if>
      <if test="ptGoodsNumber != null">
        #{ptGoodsNumber,jdbcType=INTEGER},
      </if>
      <if test="ptState != null">
        #{ptState,jdbcType=INTEGER},
      </if>
      <if test="ptNumberOfPeople != null">
        #{ptNumberOfPeople,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptExample" resultType="java.lang.Integer">
    select count(*) from MeetAllPt
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update MeetAllPt
    <set>
      <if test="record.ptNumber != null">
        pt_number = #{record.ptNumber,jdbcType=INTEGER},
      </if>
      <if test="record.ptGoodsNumber != null">
        pt_goods_number = #{record.ptGoodsNumber,jdbcType=INTEGER},
      </if>
      <if test="record.ptState != null">
        pt_state = #{record.ptState,jdbcType=INTEGER},
      </if>
      <if test="record.ptNumberOfPeople != null">
        pt_number_of_people = #{record.ptNumberOfPeople,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update MeetAllPt
    set pt_number = #{record.ptNumber,jdbcType=INTEGER},
      pt_goods_number = #{record.ptGoodsNumber,jdbcType=INTEGER},
      pt_state = #{record.ptState,jdbcType=INTEGER},
      pt_number_of_people = #{record.ptNumberOfPeople,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    update MeetAllPt
    <set>
      <if test="ptGoodsNumber != null">
        pt_goods_number = #{ptGoodsNumber,jdbcType=INTEGER},
      </if>
      <if test="ptState != null">
        pt_state = #{ptState,jdbcType=INTEGER},
      </if>
      <if test="ptNumberOfPeople != null">
        pt_number_of_people = #{ptNumberOfPeople,jdbcType=INTEGER},
      </if>
    </set>
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meetall.commodity.crowdordering.commoditycrowdorderingprovider.pojo.MeetallptState">
    update MeetAllPt
    set pt_goods_number = #{ptGoodsNumber,jdbcType=INTEGER},
      pt_state = #{ptState,jdbcType=INTEGER},
      pt_number_of_people = #{ptNumberOfPeople,jdbcType=INTEGER}
    where pt_number = #{ptNumber,jdbcType=INTEGER}
  </update>
</mapper>