<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetall.commodity.detail.commoditydetailprovider.dao.CommoditySkuDao">
    <select id="getPriceStock" resultMap="getpricestock">
        select commodity_price,commodity_stock from commoditySku where commodity_number=#{commodityNumber,jdbcType=INTEGER} and commodity_sku_attribute=#{commoditySkuAttribute,jdbcType=VARCHAR}
    </select>
    <resultMap id="getpricestock" type="com.meetall.commodity.detail.commoditydetailprovider.pojo.CommoditySku">
        <result column="commodity_price" property="commodityPrice"/>
        <result column="commodity_stock" property="commodityStock"/>
    </resultMap>
</mapper>
